/* css styles */
pre code {
    background-color: transparent;
    font-size: small;
}

summary {
    font-size: smaller;
}

.navbar-logo {
    max-height: 45px;
}

/* ReactTables */
.ReactTable {
    font-size: 0.7em; 
}